@page "/"

<PageTitle>MessageBox.Blazor</PageTitle>

<h1>MessageBox.Blazor Demo</h1>

<MudButton onclick="InfoButton_Click">Information</MudButton>

@code
{
    private async Task InfoButton_Click()
    { 
    }
}
